@media only screen and (max-width: 1200px) {
    svg {
        width: 90%;
        height: 90%;
        margin-right: 5rem;
        
    }   
  }
  @media only screen and (max-width: 800px) {
    svg {
        width: 90%;
        height: 90%;
        margin-right: 0.1rem;
        
        
    }   
  }
  @media only screen and (max-width: 520px) {
    .muscle-groups svg {
        display: none;
    }
    .muscle-groups-input{
      margin: auto;
      width: 50%;
      
     
    }
    .muscle-groups-input a{
      
    
     font-size: 25px;
    }
}
  
   
  